* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	&:hover {
		.content {
			opacity: 1;
		}
	}
}
.hex {
	position: relative;
	width: 340px;
	height: 340px;
	margin: 50px 20px;
	&::before {
		content: '';
		position: absolute;
		bottom: -70px;
		width: 100%;
		height: 60px;
		background: radial-gradient(rgba(100, 200, 200, 0.5), transparent,transparent);
		border-radius: 50%;
		transition: .5s;
	}
	&:hover {
		&::before {
			opacity: .7;
			transform: scale(.8);
		}
		.shape {
			transform: translateY(-30px);
		}
	}
}
.shape {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	transition: .5s;
}
.img {
	width: 100%;
	height: 100%;
	object-fit: fit;
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: linear-gradient(45deg, #00BFE5, rgba(255, 250, 250, 0.1));
	opacity: 0;
	transition: .5s;
	font-weight: bold;
}
