@keyframes rotate {
	8% {
		transform: scale(1) rotate(360deg);
	}
	50% {
		transform: scale(.8) rotate(-360deg);
	}
	100% {
		transform: scale(1) rotate(360deg);
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
body {
	background: #2B4E6A;
}
.spinner {
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.spinner-inner {
	width: 100%;
	height: 100%;
	border: 1rem solid #0CAC7D;
	border-radius: 50%;
	border-top-color: #272E58;
	border-bottom-color: #272E58;
	animation: rotate 10s linear infinite;
}
