* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

html {
  font-size: 62.5%;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #111;
}

.container {
  max-width: 98rem;
  padding: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: .5rem;
}

.card {
  background-color: #1d1d1d;
  color: #fff;
  padding: 2.5rem;
  letter-spacing: .15rem;
  flex-direction: column;
  border-radius: 10px;
}

.card:hover .card-title-large {
  transform: translateX(5%);
  color: #fff;
}

.card-title-large {
  font-family: fantasy;
  font-size: 3.6em;
  letter-spacing: .3rem;
  color: #3d3d3d;
  transform: translateX(-1rem);
  transition: transform 1s;
}

.card-title-small {
  font-size: 2.1rem;
  color: #8c8c8c;
}

.card-desription {
  font-size: 1.2rem;
}

.card-cta {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  margin: 1rem 0;
  align-self: flex-end;
  font-weight: bold;
}

.card.twitter:hover {
  background: #419BE7;
}

.card.instagram:hover {
  background-image: radial-gradient(at 20% 120%, #feda78 20%, #e23467 68%, #ac2bb3 98%);
}

.card.linkedin:hover {
  background: #225FD5;
}

.card.pinterest:hover {
  background: #E52E38;
}
