* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: #414551;
}

.social-m {
  top: 150%;
  left: -5.3rem;
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: top 1s;
}

.social-m.active {
  left: 0;
}

.s-toggler {
  position: absolute;
  cursor: pointer;
  background: #303030;
  font-size: 4rem;
  display: flex;
  width: 5rem;
  height: 5rem;
  left: 47%;
  top: 155%;
  color: #424A52;
  border-radius: 5px;
}

.s-toggler i {
  margin: auto;
}

.s-icon-link {
  display: flex;
  font-size: 4rem;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: background 1s;
}

.s-icon-link i {
  margin: auto;
}

.s-icon-link:hover {
  background: #424652;
}

.s-icon-link.linkedin {
  background: #2F7DE4;
}

.s-icon-link.twitter {
  background: #00D5D2;
}

.s-icon-link.instagram {
  background: #C24636;
}

.s-icon-link.figma {
  background: #59497B;
}

.s-icon-link.pinterest {
  background: #C62153;
}
